<app-header></app-header>
<app-intro
        txt1="ARCHIVES"
        txt3="아카이브">
</app-intro>
<!--------------------------------------->
<div class="ba-archives-list-wrapper">
    <div class="container">
        <div class="archives-wrapper">
            <div class="archives-box">
                <div class="year">
                    <fa-icon [icon]="faCalendarAlt"></fa-icon>
                    <strong>2020</strong>
                </div>
                <div class="archive">
                    <span class="date">11/25</span>
                    <span class="article">
                        [TAG] 글 제목 블라블라...
                    </span>
                </div>
                <div class="archive">
                    <span class="date">11/25</span>
                    <a class="article" href="https://naver.com" target="_blank">
                        [TAG] 글 제목 블라블라... 투.
                    </a>
                </div>
            </div>
            <div class="archives-box">
                <div class="year">
                    <fa-icon [icon]="faCalendarAlt"></fa-icon>
                    <strong>2019</strong>
                </div>
                <div class="archive">
                    <span class="date">11/25</span>
                    <a class="article" href="https://naver.com" target="_blank">
                        [후잉] 후잉~
                    </a>
                </div>
            </div>
        </div>
        <app-siderbar></app-siderbar>
    </div>
</div>
<!--------------------------------------->
<app-footer></app-footer>
