<app-header></app-header>
<app-intro
        txt1="ARCHIVES"
        txt3="아카이브">
</app-intro>
<!--------------------------------------->
<div class="ba-archives-list-wrapper">
    <div class="container">
        <div class="archives-wrapper">
            <div class="archives-box" *ngFor="let d of archivesData">
                <div class="year">
                    <fa-icon [icon]="faCalendarAlt"></fa-icon>
                    <strong>{{d._id}}</strong>
                </div>
                <div class="archive" *ngFor="let a of d.article">
                    <span class="date">{{dateFormatter(a.created, 'MM/dd')}}</span>
                    <a class="article" [href]="'/post/view/' + a.path" target="_blank">
                        [{{a.tags}}] {{a.title}}
                    </a>
                </div>
<!--                <div class="archive">-->
<!--                    <span class="date">11/25</span>-->
<!--                    <a class="article" href="https://naver.com" target="_blank">-->
<!--                        [TAG] 글 제목 블라블라... 투.-->
<!--                    </a>-->
<!--                </div>-->
            </div>
<!--            <div class="archives-box">-->
<!--                <div class="year">-->
<!--                    <fa-icon [icon]="faCalendarAlt"></fa-icon>-->
<!--                    <strong>2019</strong>-->
<!--                </div>-->
<!--                <div class="archive">-->
<!--                    <span class="date">11/25</span>-->
<!--                    <a class="article" href="https://naver.com" target="_blank">-->
<!--                        [후잉] 후잉~-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <app-siderbar
            [sidebarLocation]="sidebarLocation"></app-siderbar>
    </div>
</div>
<!--------------------------------------->
<app-footer></app-footer>
