<app-header></app-header>
<!------------------------------------>

<div class="ba-post-create-wrapper">
    <div class="container">
        <div class="title">
            <strong>글 작성하기</strong>
        </div>
        <div class="box half">
            <mat-form-field>
                <mat-label>태그</mat-label>
                <input matInput [(ngModel)]="tags">
            </mat-form-field>
        </div>
        <div class="box half">
            <mat-form-field>
                <mat-label>접근 경로</mat-label>
                <input matInput [(ngModel)]="path">
            </mat-form-field>
        </div>
        <div class="box full">
            <mat-form-field>
                <mat-label>요약</mat-label>
                <textarea matInput [(ngModel)]="summary" style="min-height: 100px"></textarea>
            </mat-form-field>
        </div>
<!--        <div class="box full">-->
<!--            <mat-form-field>-->
<!--                <mat-label>썸네일</mat-label>-->
<!--                <input matInput [(ngModel)]="thumbnail">-->
<!--            </mat-form-field>-->
<!--        </div>-->

<!--        <div class="box half checkbox">-->
<!--            <mat-checkbox color="primary">공개 여부</mat-checkbox>-->
<!--        </div>-->
        <button (click)="createPost()">테스트 뿅</button>
    </div>
</div>

<!------------------------------------>
<app-footer></app-footer>
