<div class="pagination" id="pagination">
    <div class="action" (click)="onClickPageWrapper(1)"><<</div>
    <div class="action" (click)="onClickPageWrapper(currentPage - 1)"><</div>
    <div class="numbers">
        <div *ngFor="let t of totalPageArray"
             [ngClass]="{'active': t === currentPage}"
             (click)="onClickPageWrapper(t)">{{t}}</div>
    </div>
    <div class="action" (click)="onClickPageWrapper(currentPage + 2)">></div>
    <div class="action" (click)="onClickPageWrapper(totalPage)">>></div>
</div>
