$mobile-max-width: 767px;

$header-height: 64px;

$header-height-mini: 48px;

$main-intro-height: 220px;

$footer-height: 50px;

$min-height-header-intro-footer: calc(100vh - #{$header-height} - #{$main-intro-height} - #{$footer-height});

$min-height-header-footer: calc(100vh - #{$header-height} - #{$footer-height});

$default-width: 1024px;

$big-width: 1366px;
