$mobile-max-width: 767px;

$header-height: 64px;

$main-intro-height: 220px;

$footer-height: 70px;

$min-height-header-intro-footer: calc(100vh - #{$header-height} - #{$main-intro-height} - #{$footer-height});
