<div class="empty-header"></div>
<header class="{{isScroll ? 'on-scroll' : 'on-top' }}">
    <div class="ba-nav-left">
        <mat-icon [matMenuTriggerFor]="mobileMenu"
                  #mobileMenuTrigger="matMenuTrigger">
            format_list_bulleted
        </mat-icon>
    </div>
    <mat-menu #mobileMenu="matMenu">
        <button mat-menu-item [routerLink]="['/main']">
            <mat-icon>home</mat-icon>
            <span>HOME</span>
        </button>
        <button mat-menu-item>
            <mat-icon>category</mat-icon>
            <span>TAG</span>
        </button>
        <button mat-menu-item>
            <mat-icon>contacts</mat-icon>
            <span>CONTACT</span>
        </button>
    </mat-menu>
    <div class="ba-nav-center">
        <div [routerLink]="['/main']" routerLinkActive="active">HOME</div>
        <div>TAG</div>
        <div>CONTACT</div>
    </div>
    <div class="ba-nav-right">
        <fa-icon size="2x" [icon]="faHome" (click)="goToURL('https://keencho.com')"></fa-icon>
        <fa-icon size="2x" [icon]="faGithub" (click)="goToURL('https://github.com/keencho')"></fa-icon>
        <fa-icon size="2x" [icon]="faEnvelope" (click)="goToURL('mailto:seyoung050412@gmail.com')"></fa-icon>
    </div>
</header>
