<header>
    <div class="ba-nav-left">
        <mat-icon [matMenuTriggerFor]="mobileMenu"
                  #mobileMenuTrigger="matMenuTrigger">
            format_list_bulleted
        </mat-icon>
    </div>
    <mat-menu #mobileMenu="matMenu">
        <button mat-menu-item [routerLink]="['/main']">
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
        </button>
        <button mat-menu-item>
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
        </button>
    </mat-menu>
    <div class="ba-nav-center">
        <div [routerLink]="['/main']" routerLinkActive="active">HOME</div>
        <div>CATEGORY</div>
        <div>CONTACT</div>
    </div>
    <div class="ba-nav-right">
        <fa-icon size="2x" [icon]="faHome" (click)="goToURL('https://keencho.com')"></fa-icon>
        <fa-icon size="2x" [icon]="faGithub" (click)="goToURL('https://github.com/keencho')"></fa-icon>
        <fa-icon size="2x" [icon]="faEnvelope" (click)="sendEmail()"></fa-icon>
    </div>
</header>


