<app-header></app-header>
<!--------------------------------------------------->
<div class="ba-main-intro">
<!--    <span class="title">-->
<!--        <strong>KEENCHO'S </strong>BLOG-->
<!--    </span>-->
<!--    <span class="welcome">WELCOME ON MY BLOG</span>-->
<!--    <span class="introduce">-->
<!--        <em>"기억하고 싶은것들 정리하는 블로그" 입니다.</em>-->
<!--    </span>-->
</div>
<div class="ba-main-list-wrapper">
    <div class="container">
        <div class="article-wrapper {{screenClass}}">
            ㅋㅋ
        </div>
        <div class="sidebar-wrapper {{screenClass}}">
            dd
        </div>


<!--        <mat-grid-list-->
<!--                cols="{{mainListCols}}"-->
<!--                rowHeight="fit"-->
<!--                (window:resize)="chkWidth()"-->
<!--                style="min-height: 1000px">-->
<!--            <mat-grid-tile colspan="{{mainTileCols}}" rowspan="1" class="article-container">-->
<!--            </mat-grid-tile>-->
<!--            <mat-grid-tile colspan="{{sideTileCols}}" class="sidebar-container">-->
<!--                ㅋㅋㅋㅋ-->
<!--            </mat-grid-tile>-->
<!--            <mat-grid-tile-->
<!--                    *ngFor="let tile of tiles"-->
<!--                    [colspan]="tile.cols"-->
<!--                    [rowspan]="tile.rows"-->
<!--                    [style.background]="tile.color">-->
<!--                {{tile.text}}-->
<!--            </mat-grid-tile>-->
<!--        </mat-grid-list>-->

    </div>
</div>


<!--------------------------------------------------->
<app-footer></app-footer>
