<app-header></app-header>
<!--------------------------------------------------->
<div class="ba-main-intro">
    <span class="title">
        <strong>KEENCHO'S </strong>BLOG
    </span>
    <span class="welcome">WELCOME ON MY BLOG</span>
    <span class="introduce">
        <em>"기억하고 싶은것들 정리하는 블로그" 입니다.</em>
    </span>
</div>
<div class="ba-main-list-wrapper">
    메인입니다!.
</div>

<!--    <mat-grid-list cols="4" rowHeight="100px">-->
<!--        <mat-grid-tile-->
<!--                *ngFor="let tile of tiles"-->
<!--                [colspan]="tile.cols"-->
<!--                [rowspan]="tile.rows"-->
<!--                [style.background]="tile.color">-->
<!--            {{tile.text}}-->
<!--        </mat-grid-tile>-->
<!--    </mat-grid-list>-->
<!--------------------------------------------------->
<app-footer></app-footer>
