<app-header></app-header>
<app-intro></app-intro>
<!--------------------------------------------------->
<div class="ba-main-list-wrapper">
    <div class="container">
        <div class="article-wrapper">
            <div *ngFor="let a of articles" class="article">
                <img src="{{image}}"/>
                <div class="info">
                    <dlv class="title">
                        <strong>
                            @Transactional 어노테이션에 대해 araboza
                        </strong>
                    </dlv>
                    <hr>
                    <div class="summary">
                        <i>
                            @Transactional 어노테이션<br><br>
                            와! 정말 신기해요!!! 와! 정말 신기해요!!! 와! 정말 신기해요!!!<br>
                            bla bla bla ...
                        </i>
                    </div>
                    <div class="date">
                        <strong>2020/10/07</strong>
                    </div>
                    <div class="tag">
                        <div>DB</div>
                        <div>Spring</div>
                    </div>
                    <div class="more">
                        <strong>더보기</strong>
                        <fa-icon [icon]="faAngleRight"></fa-icon>
                    </div>
                </div>
            </div>

            <app-pagination></app-pagination>
        </div>
        <app-siderbar></app-siderbar>
    </div>
</div>

<!--------------------------------------------------->
<app-footer></app-footer>
